In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
PATH1 = 'F://wellDoneOrder1'
filenames = os.listdir(PATH1)
file = filenames[1]
tmp = pd.read_csv(os.path.join(PATH1, file))
tmp

,order_ref,order_sys_id,instrument_id,investor_id,direction,limit_price,combo_offset,trade_type,trigger_type,order_size,...,remain_size,order_status,stop_price,stop_datetime,request_time,order_time,order_date,front_id,session_id,chase_unit
0,1,69997,al2012,86006032,0,14545.0,1,5,0,1,...,1,0,0,0,1603832403,21:00:05,20201027,1,300351611,3
1,2,70185,cu2012,86006032,1,51650.0,1,5,0,1,...,1,0,0,0,1603832403,21:00:05,20201027,1,300351611,3
2,3,70228,fu2101,86006032,0,1859.0,1,5,0,1,...,0,2,0,0,1603832403,21:00:05,20201027,1,300351611,3
3,4,70715,hc2101,86006032,0,3820.0,1,5,0,1,...,1,0,0,0,1603832404,21:00:05,20201027,1,300351611,3
4,5,70716,ni2012,86006032,0,119580.0,1,5,0,1,...,0,2,0,0,1603832404,21:00:05,20201027,1,300351611,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,302,36722744,rb2101,86006032,1,3664.0,1,5,0,1,...,1,0,0,0,1603896963,14:56:10,20201028,1,-1163263973,3
660,302,36722744,rb2101,86006032,1,3664.0,1,5,0,1,...,0,2,0,0,1603896963,14:56:10,20201028,1,-1163263973,3
661,303,36762796,rb2101,86006032,1,3664.0,1,5,0,1,...,0,2,0,0,1603896999,14:56:46,20201028,1,-1163263973,3
662,304,36795772,rb2101,86006032,1,3664.0,1,5,0,1,...,0,2,0,0,1603897035,14:57:22,20201028,1,-1163263973,3
663,305,36825507,rb2101,86006032,1,3664.0,1,5,0,1,...,0,2,0,0,1603897071,14:57:58,20201028,1,-1163263973,3

In [3]:
file

'order_20201028.csv'

In [6]:
PATH2 = 'C:/tickdata_order/20201028'
instList = os.listdir(PATH2)

In [7]:
data = {}
for inst in instList:
    realInst = inst[:-8]
    print(realInst)
    data[realInst] = pd.read_csv(os.path.join(PATH2, inst))

AG
AL
AP
AU
C
CF
CU
EG
FG
FU
HC
I
IC
J
JM
L
M
MA
NI
OI
P
PP
RB
RM
RU
SC
SR
TA
TF
Y
ZC
ZN

In [8]:
data['AL']

,TDATE,TTIME,UPDATEMILLISEC,CONTRACTID,LASTPX,HIGHPX,LOWPX,TQ,TM,RISELIMIT,...,PRESETTLE,PRECLOSE,S1,B1,SV1,BV1,MARKET,CLEARINGDAY,CONTRACTCODE,OPENINTEREST
0,20201027,205900,500,AL2012,14540.0,14540.0,14540.0,91,6.615700e+06,15405.0,...,14535.0,14550.0,14545.0,14540.0,8,58,XSGE,20201028,AL,98122
1,20201027,210000,500,AL2012,14540.0,14550.0,14540.0,151,1.097828e+07,15405.0,...,14535.0,14550.0,14550.0,14540.0,96,28,XSGE,20201028,AL,98119
2,20201027,210001,0,AL2012,14550.0,14550.0,14540.0,181,1.316058e+07,15405.0,...,14535.0,14550.0,14550.0,14545.0,48,15,XSGE,20201028,AL,98109
3,20201027,210001,500,AL2012,14550.0,14550.0,14540.0,209,1.519720e+07,15405.0,...,14535.0,14550.0,14550.0,14545.0,59,5,XSGE,20201028,AL,98108
4,20201027,210002,0,AL2012,14550.0,14550.0,14540.0,269,1.956192e+07,15405.0,...,14535.0,14550.0,14550.0,14545.0,8,5,XSGE,20201028,AL,98129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27253,20201028,145959,0,AL2012,14345.0,14550.0,14340.0,100295,7.229639e+09,15405.0,...,14535.0,14550.0,14390.0,14345.0,3,4,XSGE,20201028,AL,91593
27254,20201028,145959,500,AL2012,14400.0,14550.0,14340.0,100298,7.229854e+09,15405.0,...,14535.0,14550.0,14405.0,14400.0,21,299,XSGE,20201028,AL,91590
27255,20201028,150000,0,AL2012,14400.0,14550.0,14340.0,100314,7.231006e+09,15405.0,...,14535.0,14550.0,14405.0,14400.0,21,284,XSGE,20201028,AL,91574
27256,20201028,150000,500,AL2012,14400.0,14550.0,14340.0,100314,7.231006e+09,15405.0,...,14535.0,14550.0,14405.0,14400.0,21,284,XSGE,20201028,AL,91574
27257,20201028,155846,0,AL2012,14400.0,14550.0,14340.0,100314,7.231006e+09,15405.0,...,14535.0,14550.0,14405.0,14400.0,21,284,XSGE,20201028,AL,91574

In [12]:
给定一个整数 n，计算所有小于等于 n 的非负整数中数字 1 出现的个数。

SyntaxError: invalid character in identifier (<ipython-input-12-c0e9efc1feee>, line 1)

In [19]:
def calculateMinimumHP(dungeon) -> int:
    if len(dungeon) == 0:
        return 1
    nrow = len(dungeon)
    ncol = len(dungeon[0])
    res = [[0 for j in range(ncol)] for i in range(nrow)]
    for i in range(nrow-1, -1, -1):
        for j in range(nrow-1, -1, -1):
            print(i,j,res)
            if (i==nrow-1) and (j==ncol-1):
                res[i][j] = dungeon[i][j]
            elif i== nrow-1:
                res[i][j] = min(res[i][j+1]+dungeon[i][j], dungeon[i][j])
            elif j==ncol-1:
                res[i][j] = min(res[i+1][j]+dungeon[i][j], dungeon[i][j])
            else:
                res[i][j] = min(max(res[i+1][j]+dungeon[i][j], res[i][j+1]+dungeon[i][j]), dungeon[i][j])
    
    if res[0][0]>=0:
        return 1
    else:
        return -res[0][0]+1

In [20]:
calculateMinimumHP([[0,-3]])

0 0 [[0, 0]]

1

In [21]:
1 | 0

1

In [24]:
np.array([1,0,1]) & np.array([0,0,1])

array([0, 0, 1], dtype=int32)