In [1]:
import sys
sys.path.append("F:/readTick/dataAdapter-1.0.1/")
import dataAdapter.mysqlAdapter as dataAdapter
mysql = dataAdapter.sql_adapter('192.168.1.22', 'public', 'jz123456')
import os
import pandas as pd

PATH1 = 'F://wellDoneOrder1'
filenames = os.listdir(PATH1)
DESPATH = 'C:/tickdata_order/'

In [2]:
def handleInstID(a_str):
    inst = "".join(filter(str.isalpha, a_str)).upper()
    date = "".join(filter(str.isdigit, a_str))
    if len(date)<4:
        date = '2{}'.format(date)
    return inst + date

In [3]:
def read_and_write(file):
    tmp = pd.read_csv(os.path.join(PATH1, file))
    contractList = list(set(tmp['instrument_id'].apply(handleInstID)))
    date = ''.join(filter(str.isdigit, file))
    tmpdir = os.path.join(DESPATH ,date)
    if not os.path.exists(tmpdir):
        os.mkdir(tmpdir )
    for contract in contractList:
        print(contract)
        data = dataAdapter.get_futures_data(contract, date)
        data.to_csv(os.path.join(tmpdir, '{}.csv'.format(contract)),
            index=False)
    return

In [4]:
filenames = filenames[227:]
for file in filenames:
    print(file)
    read_and_write(file)

order_20210929.csv

KeyError: 'No object named MC22013500 in the file'

In [147]:
def readTickData(path):
    tmp = pd.read_csv(path,
                      usecols=['TDATE', 'TTIME','LASTPX', 'TQ',
                               'TM', 'S1', 'B1', 'SV1', 'BV1',
                               'OPENINTEREST'],
                      dtype={
                          'TDATE': str,
                          'TTIME': str,
                          'LASTPX': np.float64,
                          'TQ': np.float64,
                          'TM': np.float64,
                          'S1': np.float64,
                          'B1': np.float64,
                          'SV1': np.float64,
                          'BV1': np.float64,
                          'OPENINTEREST': np.float64,
                      },

                      parse_dates= [['TDATE','TTIME']],
                      engine='c')


    return tmp

In [148]:
tmp = readTickData('C:/tickdata_order/20201231/JM2105.csv')

In [149]:
tmp

,TDATE_TTIME,LASTPX,TQ,TM,S1,B1,SV1,BV1,OPENINTEREST
0,2020-12-30 20:59:00,1648.0,263.0,2.600544e+07,1648.0,1647.0,10.0,2.0,116723.0
1,2020-12-30 21:00:00,1647.0,293.0,2.896974e+07,1647.0,1645.5,14.0,1.0,116708.0
2,2020-12-30 21:00:00,1647.0,388.0,3.835452e+07,1647.0,1646.5,12.0,2.0,116675.0
3,2020-12-30 21:00:01,1645.5,433.0,4.279908e+07,1646.5,1645.5,52.0,40.0,116682.0
4,2020-12-30 21:00:01,1645.5,475.0,4.694628e+07,1646.5,1645.5,49.0,11.0,116658.0
...,...,...,...,...,...,...,...,...,...
34846,2020-12-31 14:59:59,1629.0,197152.0,1.937990e+10,1629.5,1629.0,3.0,6.0,103495.0
34847,2020-12-31 14:59:59,1629.0,197155.0,1.938019e+10,1629.5,1629.0,3.0,4.0,103492.0
34848,2020-12-31 15:00:00,1629.0,197155.0,1.938019e+10,1629.5,1629.0,3.0,4.0,103492.0
34849,2020-12-31 15:03:52,1629.0,197155.0,1.938019e+10,1629.5,1629.0,3.0,4.0,103492.0
34850,2020-12-31 15:11:14,1629.0,197155.0,1.938019e+10,1629.5,1629.0,3.0,4.0,103492.0

In [150]:
np.array(tmp)

array([[Timestamp('2020-12-30 20:59:00'), 1648.0, 263.0, ..., 10.0, 2.0,
        116723.0],
       [Timestamp('2020-12-30 21:00:00'), 1647.0, 293.0, ..., 14.0, 1.0,
        116708.0],
       [Timestamp('2020-12-30 21:00:00'), 1647.0, 388.0, ..., 12.0, 2.0,
        116675.0],
       ...,
       [Timestamp('2020-12-31 15:00:00'), 1629.0, 197155.0, ..., 3.0,
        4.0, 103492.0],
       [Timestamp('2020-12-31 15:03:52'), 1629.0, 197155.0, ..., 3.0,
        4.0, 103492.0],
       [Timestamp('2020-12-31 15:11:14'), 1629.0, 197155.0, ..., 3.0,
        4.0, 103492.0]], dtype=object)

In [154]:
np.array([2.0,3]).astype(int)

array([2, 3])

In [155]:
220/170

1.2941176470588236

In [156]:
'abs12'.upper()

'ABS12'